.container__plan {
    min-width: 45%;
    padding: 30px 10px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 900;
}

.titulos__plan{
    color: #f25c05;   
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container__detalle-plan{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button__plan{
    margin-top: 30px;
}

@media only screen and (max-width:900px){
    .container__plan {
        width: 80%;
        max-height: 80vh;
    }

    .container__detalle-plan{
        overflow-y: auto;
    }
}