.error{
    width: 35%;
    height: 50vh;
    border-radius: 15px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 600;
}

.button__error{
    margin-top: 30px;
}


@media only screen and (max-width:900px){
    .error{
        width: 80%;
        height: 40vh;
        padding: 0 20px;
    }
}