.container__nosotras {
    width: 90%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.video {
    width: 50%;
    display: flex;
    justify-content: center;
}

.video>video {
    width: 90%;
}

.nosotras {
    width: 50%;
    overflow: hidden;
}

.nosotras__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 0 20px;
}

.nosotras__text>h2 {
    color: #f25c05;
}

@media only screen and (max-width: 900px){
    .container__nosotras{
        flex-direction: column;
        height: auto;
        margin: 50px auto;
    }

    .video{
        width: 100%;
        margin-bottom: 40px;
    }

    .nosotras{
        width: 100%;
    }
}